<!doctype html>

<html>
<head>
</head>

<body>
    {{ #success }}
    <h1>NEW USER</h1>
    {{ /success }}
    <h2>Sign Up</h2>
    <form method="post" action="/new">
        <label for="form_name">Name:</label>
        <input type="text" id="form_name" name="name">
    <br>
        <label for="form_email">Email:</label>
        <input type="text" id="form_email" name="email">
    <br>
        <label for="form_birth">Year Of Birth:</label>
        <input type="text" id="form_birth" name="birth">
    <br>
        <label for="form_position">Position:</label>
        <select id="form_position" name="position">
            <option value="technical_manager">Technical Manager</option>
            <option value="developer">Developer</option>
            <option value="ui_designer">UI Designer</option>
            <option value="graphic_designer">Graphic Designer</option>
        </select>
    <br>
        <label for="form_password">Password:</label>
        <input type="text" id="form_password" name="password">
    <br>
        <input type="submit" value="Go">
    </form>
<!-- <ul>
    {{ #options }}
        <li>
            <h3>{{ name }}</h3>
            <p>Cake: {{ cake }}, Topping: {{ topping }}</p>
        </li>
    {{ /options }}
</ul> -->
</body>

</html>
